body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header, footer {
    background-color: #333; /* dark gray */
    color: white;
    padding: 10px;
}

.site-title {
    color: #3498db;
}

#my-image {
    box-shadow: 0 0 2px 1px black;
}

ul {
    list-style-type: square;
}

ul li:nth-child(odd) {
    background-color: #f0f0f0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav a {
    text-decoration: none;
    background-color: #3498db;
    border: 1px solid #2980b9;
    padding: 10px;
    display: inline-block;
    color: white; 
}

nav a:hover {
    background-color: #2980b9;
}

